<!--Login-->
<div id="about" 
     data-role="view"  
     data-title="About"
     data-transition="slide"
     data-layout="main-layout">
    
    <div class="view-content">
        <center>
            <h1>Unknown Rent-A-Car</h1>
            <div class="logo"></div>
        </center>
        <p>
            Reserve a car rental from Unknown Rent-A-Car at low rates.
            Choose from more than 6,000 rental car locations at major airports and neighborhood locations.
            Rental car classes include economy cars, luxury car rental, cargo vans, pickup trucks and more.
        </p>
    </div>

</div>