<div id="addThought" 
     data-role="view"  
     data-title="Add a Thought"
     data-transition="slide"
     data-show="app.addThought.viewModel.show"
     data-model="app.addThought.viewModel"
     data-layout="main-layout">

    <div class="view-content">
        <ul id="button-group" 
            data-role="buttongroup" 
            data-index="0"
            data-select="app.addThought.codeBehind.selectButton">
            
            <li>Text</li>
            <li>Camera</li>
            <li>Audio</li>
        </ul>
        
        <div class="text-panel panel">
            <input type="text" data-bind="value: title" placeholder="Title" class="titleTextPanel" />
            <textarea data-bind="value: content" class="contentTextPanel" placeholder="Content"></textarea>
        </div>
        
        <div class="photo-panel hidden panel">
            <div class="addPhotoHolder" data-bind="{events: {click: capture}}">
                <img data-bind="attr: { src: imageSource}, visible: isAdded" width="280" />
                <div class="addPhotoButtonPanel" data-bind="invisible: isAdded">
                    <span class="addPhotoButtonPlus">+</span>
                    <span class="addPhotoButtonText">Express your thought in a photo?</span>
                </div>
            </div>
        </div>
        
        <div class="audio-panel hidden panel">
            <a data-role="button" data-bind="click: captureAudio">Record your thought out loud</a>
        </div>
        
        <a data-role="button" data-bind="click: save" class="addThoughtButton">Add</a>
    </div>
</div>